*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{

    background-color: darkslategray;
   
 }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: rgb(117, 116, 116);
} 

.left-container{
    width: 10rem;
    
}
.left-container>img{
    width: 30px;
    height: 30px;
    margin: 1rem;
    

}
.logo>img{
    widows: 50px;
    height: 50px;
    margin-left: 1rem;

}
#icon-size{
    display: flex;
    size: 40px;
}
.right-container{
    width: 15rem;
    display: flex;

}
.righ-container > p{
    font-size: 12px;
    margin: 0rem 0.1rem;
}
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3rem;
        background-image: linear-gradient(to right,#214ae0,#fcee21,#c52700,#214ae0);
    }
    .links{
        display: flex;
        gap: 2rem;
    }
    .link .p{
        font-size: 12px;
        margin-left: 1rem;
    }
    .navigation-bar{
        display: flex;
        margin-right: 6rem;
        gap: 15px;
    }
    .search-bar{
        width: 120px;
        height: 25px;
        border-radius: 15px;
        background-color: lightgray;
        display: flex;
    }
    .search-bar>img{
        margin-left: 10px;
       
    }
    header{
        display: flex;
        justify-content:center;
        align-items:center;
       
    }
    .container{
        margin-top: 4rem;
      
        width: 550px;
        height: 545px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 15px aqua;
            border-radius: 20px;
   }
        .container >h1 {
        margin-top: 40px;
        font-family: sans-serif;
        font-weight:400;
        cursor: pointer;
        color:rgb(5, 247, 243);
     }
    .container > form {
        margin-top:20px;
        display: flex;
        flex-direction: column;
        gap:32px;
    
}


#email,
#password{
    width: 100%;
    height: 50px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.722) ;
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-size:large;
    border-radius: 50px;
    background-color: transparent;
    outline: none;
    
}
.container > form > p {
    color:  rbg(185, 184, 184);
    font-size: 20px;
}
#button {
    width: 300px;
    height: 50px;
    background-image: linear-gradient(to right,#214ae0,#21fc45,#214ae0);
    border-radius: 10px ;
    border: rgb(12, 182, 229) ;
    text-align: center  ;
    color:rgb(14, 39, 114);
    font-size:large;
    font-size: x-large;
    cursor: pointer;
}
.container > p{
    margin: 40px;
    color:rgb(185, 184, 184);
    font-size: large;
}

   